
*.json
*.sqlite
*.db
*.db-shm
*.db-wal
*.opendb
*.sln
*.vcxproj
*.filters
*.user
*.ipch
*.tlog

Compression/Compression/Debug/
Compression/Debug/
Compression/.vs/Compression/v16/.suo
*.vsidx
*.lock
Compression/.vs/Compression/v17/.suo
.vs/CompressionProject/v17/.suo
